<div class="container">
    <div class="d-flex flex-column">
        <div class="py-5 text-center">
            <h1>Welcome <%= @user.first_name %></h1>
          </div>
        <div>
            <h3>Add A New Link</h3>
            <br>
            <form action="/link" method="POST">
                <label for="link_name">NAME</label>
                <input class="form-control" type="text" name="name" id="name" ><br>
                <label for="add_link">URL</label>
                <input class="form-control" type="text" name="url" id="url"><br>
                <input class="btn btn-outline-primary" type="submit" value="Save New Link">
            </form>
        </div>
    <br></br>
        <% if !@user.links.empty? %>
            <h3>Edit Your Links</h3>
            <div>
            <br>
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Link Name</th>
                            <th scope="col">URL</th>
                            <th scope="col">Link</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <form action="/link" method="POST" id="update-links-form">
                    <input type="hidden" name="_method" value="patch">
                    <tbody>
                        <% @user.links.each do |link| %>
                            <tr class="dashboard-row">
                                <td>
                                    <input type="hidden" name="link[original_link][id][]" value="<%= link.id %>">
                                    <input class="form-control" type="text" id="<%= link.id %>" name="link[name][]" value="<%= link.name %>">
                                </td>
                                <td>
                                    <input class="form-control" type="text" name="link[url][]" value="<%= link.url %>">
                                </td>
                                <td>
                                    <a class="btn btn-link" href="<%= link.format_url %>"><%= link.name %></a>
                                </td>
                                <td>
                                    <div class="btn btn-outline-danger btn-sm">
                                        <label for="delete-checkbox">Delete</label>
                                        <input type="checkbox" name="link[check][]" value="<%= link.id %>" style="margin-left: 10px;">
                                    </div> 
                                </td>
                            </tr>
                            <% end %>
                            
                        </tbody>
                    </form>
                </table>
                <button class="btn btn-outline-primary" type="submit" form="update-links-form">Save Edits</button>
                <br>
            </div>
            <% end %>
        </div>
        <div>
        </div>
    </div>
    <div class="container">
        <div class="d-flex flex-column">
            <form action="/:username" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="user[username]" value="<%= @user.username %>">
                    <input class="btn btn-outline-danger btn-sm" type="submit" value="Delete Account">
            </form>
        </div>
    </div>


