<section class="container">
    <div class="container-box">
        <div class="grid auto-grid-rows">
            <h1 class="no-margin">Welcome <%= current_user.first_name %></h1>
            <h4>Your Feed</h4>
        </div>
        <br>
    </div>
    <div class="container">
        <div class="container-box"> 
            <div class="flex">
                <h5>Recent Activity</h5>
            </div>
            <br>
            <% @user.following.reverse.each do |user| %>
                <% unless user.username == @user.username || user.links.empty? %>
                    <div class="grid auto-grid-rows">
                        <div class="flex">
                            <a class="btn dark" href="<%= user.username %>">@<%= user.username %></a>
                        </div>
                        <% user.links.reverse.each do |link| %>
                            <div class="flex">
                                <a  href="<%= link.format_url %>"><%= link.name %></a>
                            </div>
                        <% end %>
                    </div>
                    <br></br>
                <% end %>
            <% end %>
        </div>
    </div>
</section>