<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">  

</head>
    <body>
        
        <section class="container">
            <div class="data-wrap">

                <% Country.create_from_scraper %>
                <div class="flex-column grid">
                    <h5>Global Stats</h1>
                    <% Country.world_stats.each do |country| %>
                    <div class=" grid auto-grid-rows opacity-card" id="confirmed">
                        <h3>Confirmed</h3>
                        <h2 id="cases"><%= country.add_commas_to_int(country.cases) %></h4>
                    </div>
                    <div class="grid auto-grid-rows opacity-card" id="deceased">
                        <h3>Deceased</h3>
                        <h2 id="deaths"><%= country.add_commas_to_int(country.deaths) %></h4>
                    </div>
                    <div class="grid auto-grid-rows opacity-card" id="recovered">
                        <h3>Recovered</h3>
                        <h2 id="recovered"><%= country.add_commas_to_int(country.recovered) %></h4>
                    </div>
                    <div class="grid auto-grid-rows opacity-card" id="active">
                        <h3>Active</h3>
                        <h2 id="active"><%= country.add_commas_to_int(country.active) %></h4>
                    </div>
                    <div class="grid auto-grid-rows opacity-card" id="critical">
                        <h3>Critical</h3>
                        <h2 id="critical"><%= country.add_commas_to_int(country.critical) %></h4>
                    </div>
                    <% end %>
                </div>
            </div>
        </section>
    </body>
</html>