<section class="container">
    <div class="py-5 text-center">
        <% if logged_in? %>
            <h1>Welcome To My Social Links <%= @user.first_name %></h1>
        <% else %>
            <h1>Welcome To My Social Links</h1>
        <% end %>
        <h4>Browse Profiles</h4>
        <br>
        <div class="row">
            <% @users.each do |user| %>
            <a class="column" href="/<%= user.username %>">
                <div>
                    <h4><%= user.first_name %> <%= user.last_name %></h4>
                    <p>@<%= user.username %></p>
                </div>
            </a>
            <% end %>
        </div>
    </div>
</section>