<section class="container">
    <div class="auto-grid-rows margin-top margin-bottom text-center">
        <h2 class="no-margin">Welcome <%= current_user.first_name %></h2>
        <h5 class="no-margin">Browse Profiles</h5>
    </div>

        <div class="grid four-column margin-top margin-bottom">
            <% @users.each do |user| %>
                <a class="username" href="/<%= user.username %>">
                    <div class="profile-card">
                        <div class="text-center">
                            <h3><%= user.first_name %> <%= user.last_name %></h3>
                            <p>@<%= user.username %></p>
                            <% params[:username] != current_user.username %>
                            <!-- --Follow Button-------- -->

                            <!-- is current user -->
                            <% if current_user.username == user.username %>
                            <div>
                                <input class="btn grey" type="submit" value="Follow">
                            </div>
                            <!-- Friends -->
                            <% elsif current_user.following.include?(user) && user.following.include?(current_user) %>
                            <div>
                                <form action="/<%= user.username %>/follow" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input class="btn dark-outline" type="submit" value="Friends">
                                </form>    
                            </div>
                            <!-- Follow Back -->
                            <% elsif !current_user.following.include?(user) && user.following.include?(current_user) %>
                            <div>
                                <form action="/<%= user.username %>/follow" method="POST">
                                    <input class="btn primary-outline" type="submit" value="Follow Back">
                                </form>    
                            </div>
                            <!-- Already Following -->
                            <% elsif current_user.following.include?(user) && !user.following.include?(current_user) %>
                            <div>
                                <form action="/<%= user.username %>/follow" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input class="btn dark-outline" type="submit" value="Following">
                                </form>   
                            </div> 
                            <!-- Follow -->
                            <% elsif !current_user.following.include?(user) && !user.following.include?(current_user) %>
                            <div>
                                <form action="/<%= user.username %>/follow" method="POST">
                                    <input class="btn" type="submit" value="Follow">
                                </form>   
                            </div>
                        
                            <% end %>
                            <!-- --Follow Button-------- -->
                        </div>
                    </div>
                </a>
            <% end %>
        </div>

</section>