<section class="container">
    <div class="py-5 text-center">
        <% if logged_in? %>
        <h1>Welcome <%= @user.first_name %></h1>
        <% else %>
        <h1>Welcome To My Social Links</h1>
        <% end %>
        <h4>Browse Profiles</h4>
        <br>
        <% if logged_in? %>
        <div class="d-flex flex-column" style="margin-top: 25px; max-height: 55vh; overflow: scroll;"> 
            <div style="display: flex;">
                <h5>Recent Activity</h5>
            </div>
            <br>
            <% current_user.following.order(:updated_at).reverse.each do |user| %>
            <% unless user.username == current_user.username || user.links.empty? %>
                    <div class="d-flex flex-column">
                        <div style="display: flex;">
                                <a class="btn btn-dark" href="<%= user.username %>">@<%= user.username %></a>
                        </div>
                        <br>
                            <% user.links.order(:updated_at).reverse.each do |link| %>
                                <div style="display: flex;">
                                    <a class="btn btn-link" href="<%= link.format_url %>">just added – <%= link.name %></a>
                                </div>
                            <% end %>
                        </div>
                <% end %>
            <% end %>
        </div>
        <br>
        <% end %>
        <div class="row">
            <% @users.each do |user| %>
                <% if user != current_user %>
                    <a class="column" href="/<%= user.username %>">
                        <div class="py-5 text-center">
                            <h4><%= user.first_name %> <%= user.last_name %></h4>
                            <p>@<%= user.username %></p>
                            <% if logged_in? && params[:username] != current_user.username %>
                            <% if logged_in? && params[:username] != current_user.username %>
                            <!-- --Follow Button-------- -->
                                <% if current_user.following.include?(user) && user.following.include?(current_user) %>
                                <div>
                                    <form action="/<%= @user.username %>/follow" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input class="btn btn-outline-dark btn-sm" type="submit" value="Friends">
                                    </form>    
                                </div>
                                <% elsif !current_user.following.include?(user) && user.following.include?(current_user) %>
                                <div>
                                    <form action="/<%= @user.username %>/follow" method="POST">
                                        <input class="btn btn-outline-primary btn-sm" type="submit" value="Follow Back">
                                    </form>    
                                </div>
                                <% elsif current_user.following.include?(user) && !user.following.include?(current_user) %>
                                <div>
                                    <form action="/<%= @user.username %>/follow" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input class="btn btn-outline-dark btn-sm" type="submit" value="Following">
                                    </form>   
                                </div> 
                                <% elsif !current_user.following.include?(user) && !user.following.include?(current_user) %>
                                <div>
                                    <form action="/<%= @user.username %>/follow" method="POST">
                                        <input class="btn btn-primary btn-sm" type="submit" value="Follow">
                                    </form>   
                                </div>
                                    <% end %>
                                <!-- --Follow Button-------- -->
                        <% end %>
                        <% end %>
                        </div>
                    </a>
                <% end %>
            <% end %>
        </div>
    </div>
</section>